.title {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.subtitle {
    text-align: center;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    .title {
        margin-top: 8vh;
        font-size: 8vw;
    }
    
    .subtitle {
        font-size: 3.5vw;
    }
}

@media only screen and (min-width: 769px) {
    .title {
        margin-top: 5vh;
        font-size: 3.5vw;
    }
    
    .subtitle {
        font-size: 2vw;
    }
}