#jcpc-btn {
    text-align: right;
    padding-right: 5px;
}

#scpc-btn {
    text-align: left;
    padding-left: 5px;
}

.button-row {
    padding-top: 2vh;
}

.content {
    margin-bottom: 200px;
}

@media only screen and (max-width: 768px) {
    .text {
        margin-top: 10vh;
        font-size: 4vw;
    }

    #jcpc-btn {
        padding-right: 5px;
    }
    
    #scpc-btn {
        padding-left: 5px;
    }
}

@media only screen and (min-width: 769px) {
    .text {
        margin-top: 12vh;
        font-size: 3vw;
        font-weight: 700;
    }

    #jcpc-btn {
        padding-right: 15px;
    }
    
    #scpc-btn {
        padding-left: 15px;
    }
}
