<nav class="navbar navbar-expand-sm navbar-dark bg-transparent justify-content-center" *ngIf="nav.visible">
    <div class="row" data-aos="fade-up" data-aos-duration="1000">
        <a [routerLink]="'/jcpc'" [routerLinkActive]="'disabled'" class="col-6 nav-link"
            title="Junior Competitive Programming Contest">JCPC</a>
        <a [routerLink]="'/scpc'" [routerLinkActive]="'disabled'" class="col-6 nav-link"
            title="Senior Competitive Programming Contest">SCPC</a>
    </div>
</nav>