@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: black !important;
    color: white !important;
    overflow-x: hidden;
}

.content {
    padding-top: 5vh;
    max-width: 100vw;
}

.primary-button {
    border: double 4px transparent;
    border-radius: 50px;
    background-image: linear-gradient(#00000000, #00000000), radial-gradient(circle at top left,  rgb(241, 39, 17), rgb(245, 175, 25));
    background-origin: border-box;
    background-clip: content-box, border-box;
    color: white;
    font-weight: 500;
    transition: .3s;
}

.primary-button:hover {
    opacity: 80%;
}

@media only screen and (max-width: 768px) {
    .content {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .primary-button {
        width: 100px;
        height: 35px;
        font-size: 4vw;
    }
}

@media only screen and (min-width: 769px) {
    .content {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .primary-button {
        width: 200px;
        height: 50px;
        font-size: 1.5vw;
    }
}
