<div class="scoreboard-freezed-text" *ngIf="scoreboardAvailable === true && scoreboardData.type == 'FROZEN'"
    data-aos="fade-up" data-aos-duration="1200">
    Scoreboard freezed
</div>
<div class="last-updated" data-aos="fade-up" data-aos-duration="1300" *ngIf="scoreboardAvailable">
    <i>last updated: {{ updatedTime }}</i><br>
    the scoreboard is updated every 30 seconds
</div>
<div class="scoreboard-table content mx-auto" data-aos="fade-up" data-aos-duration="900" *ngIf="scoreboardAvailable">
    <table class="table table-dark">
        <tr class="header">
            <th>#</th>
            <th>Contestants</th>
            <td>Total</td>
            <td *ngFor="let problem of scoreboardData.scoreboard.state.problemAliases">{{ problem }}</td>
        </tr>
        <tr *ngFor="let entry of scoreboardData.scoreboard.content.entries">
            <th class="rank">{{ entry.rank }}</th>
            <th>
                <div class="row">
                    <div class="col-12 col-lg-10">
                        <div class="name">
                            {{ getContestantName(entry.contestantJid) }}
                        </div>
                        <div class="school">
                            {{ getContestantSchool(entry.contestantJid) }}
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 diff">
                        <p>
                            <img src="{{ getDiffImage(entry.contestantJid) }}" alt="" class="diff-image"> &nbsp;
                            {{ getAbsDiff(entry.contestantJid) }}
                        </p>
                    </div>
                </div>
            </th>
            <td style="background-color: rgba({{ redVal(entry.totalScores / scoreboardData.scoreboard.state.problemAliases.length) }}, {{ greenVal(entry.totalScores / scoreboardData.scoreboard.state.problemAliases.length) }}, 0, 0.75 );"
                class="total">{{ entry.totalScores }}</td>
            <td *ngFor="let score of entry.scores"
                style="background-color: rgba({{ redVal(score) }}, {{ greenVal(score) }}, 0, 0.75 );" class="score">
                {{ score }}
            </td>
        </tr>
    </table>
</div>
<div class="scoreboard-unavailable" data-aos="fade-up" data-aos-duration="1200" *ngIf="!scoreboardAvailable">
    Scoreboard is not available at this moment
</div>