.scoreboard-freezed-text {
    text-align: center;
    margin-top: 5vh;
}

.last-updated {
    text-align: center;
}

.scoreboard-table {
    max-width: 95vw;
}

.table-dark {
    background-color: rgba(0, 0, 0, 0.3);
}

.header {
    background-color: rgba(71, 71, 71, 0.589);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.rank {
    text-align: center;
    font-weight: 400;
    vertical-align: middle;
}

.score, .total-ac {
    text-align: center;
    font-weight: 700;
    vertical-align: middle;
}

.name {
    font-weight: 700;
}

.university, .penalty, .total-penalty, .total-attempt {
    font-weight: 400;
}

.penalty, .total-penalty, .total-attempt {
    text-align: center;
}

.diff {
    vertical-align: middle;
}

.modal-content {
    background: rgba(0, 0, 0, .8);
    border-radius: 0;
}

.modal-body {
    margin-top: 50px;
}

.modal-footer {
    border-top: 0;
}

.btn-modal {
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
    font-weight: 900;
    font-size: smaller;
}

.team-name {
    font-weight: 900;
}

.team-member-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
}

.team-member {
    margin-bottom: 5px;
}

.contestantId {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .scoreboard-freezed-text {
        font-size: 5vw;
    }

    .last-updated {
        font-size: 3vw;
    }

    .name {
        font-size: 3vw;
    }

    .university, .penalty, .total-penalty, .total-attempt {
        font-size: 2.5vw;
    }

    .scoreboard-table {
        font-size: 12px;
        margin-bottom: 10vh;
        overflow-x: scroll;
    }

    .diff-image {
        height: 15px;
    }

    .diff {
        padding-right: 3vw;
        text-align: left;
    }

    .score {
        font-size: 2.8vw;
    }

    .total-ac {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 769px) {
    .scoreboard-freezed-text {
        font-size: 2vw;
    }

    .last-updated {
        margin-top: 10px;
        font-size: 1em;
    }

    .name {
        font-size: 16px;
    }

    .university, .penalty, .total-penalty, .total-attempt {
        font-size: 12px;
    }

    .scoreboard-table {
        font-size: 14px;
        padding-bottom: 5vh;
    }

    .diff-image {
        height: 25px;
    }

    .diff {
        padding-right: 1.5vw;
        padding-top: 1vh;
        text-align: right;
    }

    .score {
        font-size: .99vw;
    }

    .total-ac {
        font-size: 1.1vw;
    }
}